# Игнорируем папку сборки
build/

# Игнорируем другие временные файлы Qt
build-*
*.pro.user
*.o
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.autosave

# Игнорируем файлы отладки и сборки
debug/
release/
*.exe
*.dll
*.so
*.a

# Игнорируем временные файлы IDE
*.user
*.creator
